body {
  background: #f06d06;
  font-size: 100%;
  padding: 20px;
}

.main {
  position: relative;
  background: white;
  height: auto !important;
  width: 60%;
  margin: 0 auto;
  padding: 20px;
  overflow: auto;
}

label {
  font-weight: bold;
}