#todos {
  margin: 40px auto 40px auto;
  padding: 20px;
  width: 480px;
}
.isComplete {
  color: #3b983e;
  text-decoration: line-through;
}
.create, input.text {
	font-size: 1.4em;
	width: 100%;
}
.notesCount {
  font-weight: bold;
}
.todo {
	list-style: none;
	border-bottom: solid 1px #CCCCCC;
  padding: 5px 1px;
	font-size: 1.4em;
  display: none;
}